Repository ss220club/WyccerraBay220, pull requests merged in 2024-03, with the labels that each got.

#147 [WIP] Fabricator/Autolathe
  baystation12.dme
  code/__defines/lists.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/initialization/fabrication.dm
  code/controllers/subsystems/machines.dm
  code/datums/repositories/icon_states.dm
  code/datums/traits/traits.dm
  code/datums/wires/fabricator.dm
  code/game/machinery/_machines_base/stock_parts/power/terminal.dm
  code/game/objects/items/devices/t_scanner.dm
  code/modules/fabrication/_fabricator.dm
  code/modules/fabrication/_fabricator_build_order.dm
  code/modules/fabrication/designs/_design.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/fabrication/designs/general/designs_devices_components.dm
  code/modules/fabrication/designs/general/designs_engineering.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/fabrication/designs/general/designs_medical.dm
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/fabrication/designs/micro/designs_cutlery.dm
  code/modules/fabrication/designs/micro/designs_glasses.dm
  code/modules/fabrication/designs/replicator/designs_food.dm
  code/modules/fabrication/fabricator_build.dm
  code/modules/fabrication/fabricator_food.dm
  code/modules/fabrication/fabricator_intake.dm
  code/modules/fabrication/fabricator_microlathe.dm
  code/modules/fabrication/fabricator_topic.dm
  code/modules/fabrication/fabricator_ui.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/modules/tgui/external.dm
  code/unit_tests/_unit_tests.dm
  code/unit_tests/machine_tests.dm
  maps/example/example.dmm
  maps/sierra/machinery/machinery.dm
  nano/templates/fabricator.tmpl
  tgui/packages/tgui/components/ImageButton.jsx
  tgui/packages/tgui/interfaces/Fabricator.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :world_map: Изменение Карты, TGUI

#154 One more ImageButton DLC
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/ImageButton.jsx
  tgui/packages/tgui/stories/ImageButton.stories.js
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI

#161 TGchat Updates
  tgui/packages/tgui-panel/chat/ChatPageSettings.js
  tgui/packages/tgui-panel/chat/actions.js
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/model.js
  tgui/packages/tgui-panel/chat/reducer.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI

#47 refactor: SStts220 and it's usages refactor. Move acronym and job replacements to JSON
  code/__defines/lists.dm
  code/modules/mob/hear_say.dm
  config/example/tts_replacements.json
  mods/~_ss220/text2speech/code/tts_preferences.dm
  mods/~_ss220/text2speech/code/tts_seed.dm
  mods/~_ss220/text2speech/code/tts_subsystem.dm
Labels: :page_facing_up: Требуется изменение конфига

#165 fix: MaxTotalMessages
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI

#166 Delete HUMAN species
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/general/02_body.dm
Labels: :wrench: Фикс

#163 [TG Port] Balloon Alerts
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/text.dm
  code/_helpers/game.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/multiz/structures.dm
  code/modules/organs/external/_external_damage.dm
Labels: :trollface: Фича

#168 Credits TGUI
  baystation12.dme
  code/modules/asset_cache/assets/asset_credits.dm
  mods/client_verbs/code/credits.dm
  mods/client_verbs/code/credits_datums.dm
  mods/client_verbs/html/credits.css
  mods/client_verbs/html/credits.html
  tgui/packages/tgui/components/StyleableSection.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/Credits.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI

#183 [TGUI] ChemDispenser
  baystation12.dme
  code/game/machinery/_machines_base/machinery.dm
  code/modules/reagents/dispenser/chemical_dispenser.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  nano/templates/chem_disp.tmpl
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI

#134 Remove lack of proper alarms reprocess gasses
  baystation12.dme
  code/game/machinery/alarm/alarm.dm
  code/game/machinery/alarm/firealarm.dm
  code/game/machinery/alarm/partyalarm.dm
Labels: :hammer_and_wrench: Рефактор

#171 Tweak: Интерфейс для обычной и объемной помп
  code/modules/atmospherics/components/binary_devices/pump.dm
  maps/example/example.dmm
  tgui/packages/tgui/interfaces/Pump.tsx
  tgui/public/tgui.bundle.js
Labels: :world_map: Изменение Карты, TGUI
