Repository ss220club/WyccerraBay220, pull requests merged in 2024-04, with the labels that each got.

#113 TTS Component
  code/__defines/dcs/signals/signals_atom.dm
  code/__defines/~mods/text_to_speech.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/preferences.dm
  code/modules/mob/hear_say.dm
  code/modules/species/species.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/nabber.dm
  mods/~_ss220/text2speech/code/base_seeds/mobs/_base.dm
  mods/~_ss220/text2speech/code/base_seeds/mobs/alien.dm
  mods/~_ss220/text2speech/code/base_seeds/mobs/other.dm
  mods/~_ss220/text2speech/code/base_seeds/objs/objs.dm
  mods/~_ss220/text2speech/code/tts_component.dm
  mods/~_ss220/text2speech/code/tts_preferences.dm
  mods/~_ss220/text2speech/code/tts_seed.dm
  mods/~_ss220/text2speech/code/tts_subsystem.dm
  mods/~_ss220/text2speech/tts.dme
Labels: :hammer_and_wrench: Рефактор

#164 Ref: tts effects refactor
  code/__defines/lists.dm
  code/__defines/~mods/text_to_speech.dm
  code/_macros.dm
  code/game/sound.dm
  code/modules/mob/hear_say.dm
  maps/example/example.dmm
  mods/~_ss220/text2speech/code/shell.dm
  mods/~_ss220/text2speech/code/tts_component.dm
  mods/~_ss220/text2speech/code/tts_seed.dm
  mods/~_ss220/text2speech/code/tts_subsystem.dm
  mods/~_ss220/text2speech/code/~undefs/~undefs.dm
  mods/~_ss220/text2speech/tts.dme
  test/check-paths.sh
Labels: :guitar: Инструменты, :world_map: Изменение Карты, :hammer_and_wrench: Рефактор

#190 [TGUI] ChemMaster
  baystation12.dme
  code/__defines/machinery.dm
  code/game/machinery/_machines_base/machinery.dm
  code/modules/asset_cache/assets/asset_chem_master.dm
  code/modules/reagents/Chemistry-Machinery.dm
  nano/templates/chemmaster.tmpl
  test/check-paths.sh
  tgui/docs/component-reference.md
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :guitar: Инструменты, TGUI

#159 refactor: remove stupid each nth atom no tick check
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/overlays.dm
  code/controllers/subsystems/processing/icon_updates.dm
Labels: :hammer_and_wrench: Рефактор

#13 DMAPI
  baystation12.dme
  code/__defines/rust_g.dm
  code/__defines/~mods/tgs.config.dm
  code/__defines/~mods/tgs.dm
  code/_helpers/logging.dm
  code/controllers/master.dm
  code/datums/tgs_event_helper.dm
  code/game/world.dm
  dependencies.sh
  mods/global_modpacks.dm
  mods/~_ss220/tgs/LICENSE
  mods/~_ss220/tgs/README.md
  mods/~_ss220/tgs/core/README.md
  mods/~_ss220/tgs/core/_definitions.dm
  mods/~_ss220/tgs/core/core.dm
  mods/~_ss220/tgs/core/datum.dm
  mods/~_ss220/tgs/core/tgs_core.dm
  mods/~_ss220/tgs/core/tgs_datum.dm
  mods/~_ss220/tgs/core/tgs_version.dm
  mods/~_ss220/tgs/includes.dm
  mods/~_ss220/tgs/v3210/README.md
  mods/~_ss220/tgs/v3210/api.dm
  mods/~_ss220/tgs/v3210/commands.dm
  mods/~_ss220/tgs/v4/README.md
  mods/~_ss220/tgs/v4/api.dm
  mods/~_ss220/tgs/v4/commands.dm
  mods/~_ss220/tgs/v5/README.md
  mods/~_ss220/tgs/v5/__interop_version.dm
  mods/~_ss220/tgs/v5/_defines.dm
  mods/~_ss220/tgs/v5/api.dm
  mods/~_ss220/tgs/v5/bridge.dm
  mods/~_ss220/tgs/v5/chunking.dm
  mods/~_ss220/tgs/v5/commands.dm
  mods/~_ss220/tgs/v5/serializers.dm
  mods/~_ss220/tgs/v5/topic.dm
  mods/~_ss220/tgs/v5/undefs.dm
  tools/ci/check_grep_bay.sh
  tools/tgs_scripts/InstallDeps.sh
Labels: :guitar: Инструменты

#206 Move TGchat notifications to the top
  tgui/packages/tgui-panel/styles/components/Notifications.scss
Labels: TGUI

#205 De-modularize Input
  baystation12.dme
  code/_helpers/global_lists.dm
  code/controllers/subsystems/SSinput.dm
  code/datums/keybindings/_defines.dm
  code/datums/keybindings/_keybinding.dm
  code/datums/keybindings/admin.dm
  code/datums/keybindings/carbon.dm
  code/datums/keybindings/client.dm
  code/datums/keybindings/communication.dm
  code/datums/keybindings/human.dm
  code/datums/keybindings/living.dm
  code/datums/keybindings/mob.dm
  code/datums/keybindings/movement.dm
  code/datums/keybindings/robot.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/keybindings/keybindings_pref.dm
  code/modules/client/preference_setup/keybindings/keybindings_proc.dm
  code/modules/client/preferences.dm
  code/modules/input/input.dm
  code/modules/input/movement.dm
  mods/global_modpacks.dm
  mods/ssinput/README.md
  mods/ssinput/_ssinput.dm
  mods/ssinput/_ssinput.dme
  mods/ssinput/code/README.md
  mods/ssinput/code/_undefines.dm
  mods/ssinput/code/general/bindings_setup.dm
  mods/ssinput/code/general/client.dm
  mods/ssinput/code/general/preferences.dm
  mods/ssinput/code/global_lists.dm
  mods/ssinput/code/global_maps.dm
  mods/ssinput/code/keybindings/_defines.dm
  mods/ssinput/code/keybindings/_undefines.dm
  tgui/packages/tgui/hotkeys.ts
Labels: TGUI

#209 Пистолет
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/pistol.dmi
  icons/obj/weapons/ammo.dmi
Labels: :rice: Спрайты
