Repository ss220club/WyccerraBay220, pull requests merged in 2024-02, with the labels that each got.

#4 feat: add runchat
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/lists.dm
  code/controllers/configuration.dm
  code/datums/chat_message.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/emotes/emote_define.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/mob.dm
  code/modules/power/singularity/field_generator.dm
  icons/chaticons.dmi
  interface/skin.dmf
Labels: :mountain: Спрайты

#27 Replace PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :open_file_folder: Репозиторий

#29 translate: issue template
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: :open_file_folder: Репозиторий

#22 feat: TauCeti bloomy lights
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/~mods/bloom_light.dm
  code/datums/beam.dm
  code/game/machinery/alarm.dm
  code/game/machinery/lightswitch.dm
  code/modules/lighting/lighting_source.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/turbolift/turbolift_map.dm
  mods/global_modpacks.dm
  mods/~_ss220/bloom_light/_bloom_light.dm
  mods/~_ss220/bloom_light/_bloom_light.dme
  mods/~_ss220/bloom_light/code/__HELPERS/color_matrix.dm
  mods/~_ss220/bloom_light/code/_renderer.dm
  mods/~_ss220/bloom_light/code/lighting.dm
  mods/~_ss220/bloom_light/code/lighting_atom.dm
  mods/~_ss220/bloom_light/code/preferences.dm
  mods/~_ss220/bloom_light/icons/exposures.dmi
  mods/~_ss220/bloom_light/icons/obj/structures/lighting.dmi
Labels: :mountain: Спрайты

#21 Delete haram, illegal
  baystation12.dme
  code/datums/supplypacks/nonessent.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/items/weapons/table_flags.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/clothing_forensics.dm
  code/modules/clothing/under/accessories/pride_pin.dm
  code/modules/clothing/under/accessories/pronouns.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/table_flags.dmi
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
Labels: :mountain: Спрайты, :world_map: Карты

#41 Remove absence of emissive airlock sounds
  code/game/machinery/embedded_controller/airlock_program.dm
  sound/machines/airlockdone.ogg
  sound/machines/airlockin.ogg
  sound/machines/airlockout.ogg
Labels: :sound: Звуки

#62 GAS icons - insuls and base
  icons/mob/human_races/species/nabber/body.dmi
  icons/mob/species/nabber/onmob_hands_gas.dmi
Labels: :mountain: Спрайты

#64 [TGUI] APC and Vending
  code/__defines/tgui.dm
  code/_helpers/icons.dm
  code/controllers/subsystems/tgui.dm
  code/datums/vending/stored_item.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/_vending_products.dm
  code/game/machinery/vending/_vending_refill.dm
  code/game/machinery/vending/hydroseeds.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/asset_cache/assets/asset_fontawesome.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/power/apc.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/modules/tgui/states/default.dm
  code/modules/tgui/tgui.dm
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-brands-400.eot
  html/font-awesome/webfonts/fa-brands-400.ttf
  html/font-awesome/webfonts/fa-brands-400.woff
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff
  html/font-awesome/webfonts/fa-v4compatibility.ttf
  icons/obj/tools/syringe.dmi
  icons/ws220.png
  interface/skin.dmf
  mods/_maps/liberia/maps/liberia.dmm
  mods/ssinput/code/general/client.dm
  nano/templates/apc.tmpl
  nano/templates/vending_machine.tmpl
  test/check-paths.sh
  tgui/bin/tgui-prettier.bat
  tgui/bin/tgui_.ps1
  tgui/packages/common/string.js
  tgui/packages/tgui/assets/bg-heph.svg
  tgui/packages/tgui/focus.js
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/APC.tsx
  tgui/packages/tgui/interfaces/SimpleDockingConsole.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/styles/components/NoticeBox.scss
  tgui/packages/tgui/styles/interfaces/Vending.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/hephaestus.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :mountain: Спрайты, :open_file_folder: Репозиторий, :world_map: Карты

#79 New announcements
  sound/wyccstation/announcements/anime.ogg
  sound/wyccstation/announcements/anomaly_gravity.ogg
  sound/wyccstation/announcements/anomaly_time.ogg
  sound/wyccstation/announcements/biohazard_level_5.ogg
  sound/wyccstation/announcements/biohazard_level_7.ogg
  sound/wyccstation/announcements/bluespacejump_initialization.ogg
  sound/wyccstation/announcements/bluespacejump_prepare.ogg
  sound/wyccstation/announcements/bluespacejump_start.ogg
  sound/wyccstation/announcements/command_report.ogg
  sound/wyccstation/announcements/electrical_storm_high.ogg
  sound/wyccstation/announcements/electrical_storm_normal.ogg
  sound/wyccstation/announcements/electricity_off.ogg
  sound/wyccstation/announcements/electricity_on.ogg
  sound/wyccstation/announcements/evacuation.ogg
  sound/wyccstation/announcements/life_signatures.ogg
  sound/wyccstation/announcements/meteors_1.ogg
  sound/wyccstation/announcements/meteors_2.ogg
  sound/wyccstation/announcements/new_ai_1.ogg
  sound/wyccstation/announcements/new_ai_2.ogg
  sound/wyccstation/announcements/radiation.ogg
  sound/wyccstation/announcements/welcome_1.ogg
  sound/wyccstation/announcements/welcome_2.ogg
Labels: :sound: Звуки

#90 [TGUI] Orbit
  baystation12.dme
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/following.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/ghost/orbit.dm
  icons/mob/screen_ghost.dmi
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/public/tgui.bundle.js
Labels: :rice: Спрайты, TGUI

#104 Test Map Refresh
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
  maps/example/example.dm
  maps/example/example.dmm
  maps/using.dm
Labels: :world_map: Изменение Карты

#85 Components + Pixel Shift
  baystation12.dme
  code/__defines/dcs/flags.dm
  code/__defines/dcs/helpers.dm
  code/__defines/dcs/signals/signals_atom.dm
  code/__defines/dcs/signals/signals_atom_movable.dm
  code/__defines/dcs/signals/signals_datum.dm
  code/__defines/dcs/signals/signals_mob.dm
  code/__defines/keybinding.dm
  code/__defines/lists.dm
  code/__defines/misc.dm
  code/_helpers/cmp.dm
  code/_helpers/logging.dm
  code/_helpers/type2type.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/dcs.dm
  code/datums/components/COMPONENT_TEMPLATE.md
  code/datums/components/README.md
  code/datums/components/_component.dm
  code/datums/components/pixel_shift.dm
  code/datums/datum.dm
  code/datums/elements/ELEMENT_TEMPLATE.md
  code/datums/elements/_element.dm
  code/datums/observation/entered.dm
  code/datums/signals.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/unit_tests/component_tests.dm
  mods/ssinput/code/keybindings/living.dm
  test/check-paths.sh
Labels: :guitar: Инструменты

#110 fix: fix runtimes caused by new map
  mods/_maps/miningpirate/maps/miningpirate.dmm
Labels: :world_map: Изменение Карты

#115 tweak: add ability to disable roundstart vote, make `secret` master gamemode
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/modules/admin/topic.dm
  config/example/config.txt
Labels: :page_facing_up: Требуется изменение конфига

#127 Remove lack of elevator beauty
  code/modules/turbolift/turbolift_areas.dm
  code/modules/turbolift/turbolift_console.dm
  icons/obj/structures/turbolift.dmi
  sound/effects/butelev.ogg
  sound/music/elevatormusic_alt.ogg
Labels: :sound: Звуки, :rice: Спрайты

#117 TGUI Interfaces - Part 1
  baystation12.dme
  code/datums/vending/stored_item.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/suit_storage.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/asset_cache/assets/asset_tgfont.dm
  code/modules/asset_cache/assets/asset_tgui.dm
  code/modules/recycling/disposal.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_panel/tgui_panel.dm
  nano/templates/canister.tmpl
  nano/templates/gps.tmpl
  nano/templates/smartfridge.tmpl
  nano/templates/suit_storage_unit.tmpl
  nano/templates/tanks.tmpl
  tgui/packages/tgfont/dist/tgfont.css
  tgui/packages/tgfont/dist/tgfont.eot
  tgui/packages/tgfont/dist/tgfont.woff2
  tgui/packages/tgfont/icons/ATTRIBUTIONS.md
  tgui/packages/tgfont/icons/bad-touch.svg
  tgui/packages/tgfont/icons/non-binary.svg
  tgui/packages/tgfont/icons/prosthetic-full.svg
  tgui/packages/tgfont/icons/prosthetic-leg.svg
  tgui/packages/tgfont/icons/syndicate-logo.svg
  tgui/packages/tgfont/static/tgfont.css
  tgui/packages/tgfont/static/tgfont.eot
  tgui/packages/tgfont/static/tgfont.woff2
  tgui/packages/tgui/components/Icon.js
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/interfaces/Canister.tsx
  tgui/packages/tgui/interfaces/DisposalBin.tsx
  tgui/packages/tgui/interfaces/GPS.tsx
  tgui/packages/tgui/interfaces/SmartFridge.tsx
  tgui/packages/tgui/interfaces/SuitStorage.tsx
  tgui/packages/tgui/interfaces/Tank.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/styles/components/RoundGauge.scss
  tgui/packages/tgui/styles/components/Stack.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI

#139 Update some TGUI components
  tgui/packages/tgui/components/Button.jsx
  tgui/packages/tgui/components/Icon.js
  tgui/packages/tgui/components/Icon.tsx
  tgui/packages/tgui/components/Input.jsx
  tgui/packages/tgui/components/Knob.jsx
  tgui/packages/tgui/components/NumberInput.jsx
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/RestrictedInput.jsx
  tgui/packages/tgui/components/RoundGauge.jsx
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/components/TextArea.jsx
  tgui/packages/tgui/interfaces/APC.tsx
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/routes.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/webpack.config.js
Labels: TGUI

#140 fix: Orbit UI Missing
  tgui/packages/tgui/interfaces/CrewMonitor.jsx
  tgui/packages/tgui/interfaces/Orbit.jsx
  tgui/public/tgui.bundle.js
Labels: TGUI

#142 ImageButton component
  tgui/packages/tgui/components/ImageButton.jsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/styles/colors.scss
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/abductor.scss
  tgui/packages/tgui/styles/themes/cardtable.scss
  tgui/packages/tgui/styles/themes/changeling.scss
  tgui/packages/tgui/styles/themes/hackerman.scss
  tgui/packages/tgui/styles/themes/malfunction.scss
  tgui/packages/tgui/styles/themes/ntos.scss
  tgui/packages/tgui/styles/themes/paper.scss
  tgui/packages/tgui/styles/themes/retro.scss
  tgui/packages/tgui/styles/themes/security.scss
  tgui/packages/tgui/styles/themes/syndicate.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI
